.main {
  // 100vh - Header + Footer
  height: calc(100vh - (6.5rem + 2.5rem));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
  }

  span {
    text-align: center;
  }

  button {
    width: 11rem;
    height: 3.5rem;

    background: var(--green-400);
    border: none;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    color: var(--white);
    transition: background-color 1.2s;
    align-self: center;
    margin-top: 4rem;

    &:hover {
      background: var(--green-600);
    }
  }
}
