.bunner {
  max-width: 100vw;
  height: calc(100vh - 6.5rem);
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(223.81deg, #E2E474 0%, #81E7A8 100%);

  h1 {
    color: var(--white);
    font-weight: 500;
    font-size: 4rem;
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;

  h2 {
    font-size: 2rem;
    margin: 5rem auto;
  }

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 10rem;

    li {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: left;

      p {
        font-weight: 500;
        color: var(--gray-800);
        transition: color 0.5s;
      }

      span {
        font-weight: 300;
        color: var(--gray-500);
      }

      &:hover {
        p {
          color: var(--green-400);
        }
      }
    }
  }
}
